.img{
    border-radius:40px;
    height:300px;
}
h2{
    font-family: 'Helevitica', cursive;
}
.card-header{
    background-color:whitesmoke;
}
.btn-outline-info{
    background-color:whitesmoke;
}
.prof{
    position: relative;
    float: left;
    width: 36vw;
    padding-top:2%;
    height: 70vh;
    margin-left: 5%;
}
.buton{
    display: flex;
}

#repos{
    text-align: center;
    position: relative;
    top: 0;
    display: block;
    width: 350vw;
}


h1{
    font-size: 70px;
    font-weight:bold;
    text-align:center;
    padding:50px;
    text-shadow: 4px 4px 5pxwhitesmoke; 
    font-family: 'Helevitica', fantasy;
}
.container{
    font-family: "fangsong", fantasy;
    font-size: 25px;  
}

#head{
    background-image: url("https://bit.ly/36k8Gr7");
    background-size: cover;
    text-align: center;
}
input{
    width: 50%;
    margin-left: 25%;

}
.p-center{
    text-align: center;
}
#intro{
    height: 300px;
    width: 500px;
    margin-left: 35%;
    margin-bottom: 5%;
    display: block;
    font-family: system-ui;
    font-size: 30px;
    border: dotted black 8px;
    padding: 2%;
    animation: trans 7s 3s alternate ease-in-out infinite ;
    transform-origin: right top;
    box-shadow: 7px 7px 10px whitesmoke;
}
@keyframes trans{from{transform: translateX(-600px);} to{transform: translateX(600px);}}
.results{
    color: rgb(220, 228, 245);
}
